.models
    padding-top: 100px
    .title
        font-family: Actay Wide, sans-serif
        font-size: 35px
        font-style: normal
        font-weight: 700
        line-height: 100%
        text-transform: uppercase 
        margin-bottom: 30px
        display: block
    .modelsList
        display: flex
        align-items: center
        gap: 30px