.crave
    position: relative
    .title
        position: absolute
        color: var(--white-color)
        top: 100px
        right: 0
        left: 0
        margin: 0 auto
        z-index: 10
        text-align: center
        leading-trim: both
        text-edge: cap
        font-family: Actay, sans-serif
        font-size: 155px
        font-style: normal
        font-weight: 400
        line-height: 100%
        text-transform: uppercase 
    .tour
        position: absolute
        bottom: 50px
        left: 50px
        z-index: 10
        background: var(--purple-color)
        padding: 40px
        display: flex
        flex-direction: column
        align-items: center
        gap: 30px
        transition: var(--trs-500)
        &:hover
            background: var(--purple-hover-color)
        .imageWrapper
            width: 230px
            height: 110px
            border-radius: 50%
            overflow: hidden
            position: relative
            img
                width: 100%
                height: 100%
                object-fit: cover
                position: absolute
                top: 0
                left: 0
                bottom: 0
                right: 0
        .playBtn
            display: flex
            gap: 20px
            align-items: center
            span
                color: var(--white-color)
                leading-trim: both
                text-edge: cap
                font-family: Actay Wide, sans-serif
                font-size: 20px
                font-style: normal
                font-weight: 700
                line-height: 100%
                text-transform: uppercase 
            
    .swiperMain
        .imageWrapper
            position: relative
            height: 100vh
            width: 100%
            img
                position: absolute
                object-fit: cover
    .swiperThumbs
        position: absolute
        height: 90px
        bottom: 50px
        right: 50px
        width: 710px
        .thumb
            cursor: pointer
            .imageWrapper
                width: 116px
                height: 77px
                position: relative
                img
                    position: absolute
                    object-fit: cover
                    width: 100%
                    height: 100%
