html 
  box-sizing: border-box

*,
*::before,
*::after 
  box-sizing: inherit
  color: var(--dark-color)

    
body 
  background: var(--gray-bg-color)
    
.sm-container 
    margin: 0 10px
.container 
    padding: 0 50px
