:root
    --white-color: #fff
    --black-color: #000
    --dark-color: #2A2B31
    --gray-bg-color: #F2F4F8
    --gray-color: #E2E3EB
    --gray-text-color: #9C9FAE
    --purple-color: #7434A4

    --shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.05)

    --trs-300: 300ms ease
    --trs-500: 500ms ease
    --trs-800: 800ms ease

    --z-header: 9000

    --rounded-sm: 5px
    --rounded-xl: 99px