.partnersList 
    margin-top: 50px
    display: flex
    flex-direction: column
    gap: 30px
    .rowWithText
        display: grid
        grid-template-columns: 20% 75%
        gap: 5%
        p
            color: var(--purple-color)
            font-family: Actay Wide, sans-serif
            font-size: 30px
            font-style: normal
            font-weight: 700
            line-height: 130%
        .rows
            display: flex
            flex-direction: column
            gap: 30px
            .row1
                display: grid
                grid-template-columns: repeat(3,1fr)
                gap: 30px
            .row2
                display: grid
                grid-template-columns: 45% 45%
                gap: 30px
    .row3
        display: grid
        grid-template-columns: 23.4% 31.5% 31.5%
        gap: 30px
    .row4
        display: grid
        grid-template-columns: repeat(4,1fr)
        gap: 30px
    .row5
        display: grid
        grid-template-columns: repeat(4,1fr)
        gap: 30px
    .row6
        display: grid
        grid-template-columns: 30% 30%
        gap: 30px
    .row7
        display: grid
        grid-template-columns: repeat(4,1fr)
        gap: 30px