.equipment
    padding-top: 151px
    padding-bottom: 100px
    background: var(--white-color)
    .breadcrumbWrapper
        margin-bottom: 30px
    
    .carSwiperWrapper
        display: flex
        flex-direction: column
        gap: 30px
        &:last-child
            margin-top: 100px
            