@import 'shared/styles/config'
    
.header
    position: fixed
    top: 0
    left: 0
    right: 0
    background: var(--white-color)
    display: flex
    align-items: center
    z-index: var(--z-header)
    box-shadow: var(--shadow)
    @media(max-width: $desktop-md-2)
        justify-content: space-between
        padding: 0 20px
    .socialMob
        display: none
        @media(max-width: $desktop-md-2)
            display: flex
            align-items: center
            gap: 20px
    .logo
        cursor: pointer
        margin: 20px 0
        padding: 0 40px 
        display: flex
        flex-direction: column
        gap: 15px
        align-items: center
        border-right: 1px solid var(--gray-color)
        @media(max-width: $desktop-md-2)
            border-right: none
        @media(max-width: $tab-sm)
            margin: 10px 0
        .logoWrapper
            width: 167px
            height: 45px
            position: relative
            @media(max-width: $tab-sm)
                width: 125px
                height: 33px
        p
            color: var(--purple-color)
            text-align: center
            leading-trim: both
            text-edge: cap
            font-size: 10px
            font-style: normal
            font-weight: 400
            line-height: 110%
            letter-spacing: 3.5px
            text-transform: uppercase
            @media(max-width: $desktop-md-2)
                display: none
    .content
        flex: 1
        display: grid
        grid-template-rows: repeat(2,1fr)
        margin-left: 31px
        @media(max-width: $desktop-md-2)
            display: none
        .top

            display: grid
            grid-template-columns: 20% 80%
            align-items: center
            border-bottom: 1px solid var(--gray-color)
            .searchBtn
                display: flex
                align-items: center
                gap: 24px
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 150%
                border-right: 1px solid var(--gray-color)
                width: 100%
            .info
                padding-left: 33px
                display: flex
                align-items: center
                gap: 30px
                .address
                    flex: 1
                    display: flex
                    align-items: center
                    gap: 10px
                    font-size: 14px
                    font-style: normal
                    font-weight: 400
                    line-height: 150%
                    white-space: nowrap
                .clock
                    flex: 1
                    display: flex
                    align-items: center
                    gap: 10px
                    font-size: 14px
                    font-style: normal
                    font-weight: 400
                    line-height: 150%
                    white-space: nowrap

                .social
                    flex: 1
                    display: flex
                    align-items: center
                    gap: 24px
                    svg
                        path
                            transition: var(--trs-300)
                    .telegramIcon
                        &:hover
                            svg
                                path
                                    fill: #0B92FF
                    .whatsappIcon
                        &:hover
                            svg
                                path
                                    fill: #1AC673
                .phone
                    flex: 1
                    font-size: 15px
                    font-style: normal
                    font-weight: 500
                    line-height: 120%
                    text-transform: uppercase 
                    white-space: nowrap

                .orderBtn
                    flex: 1
                    color: var(--purple-color)
                    leading-trim: both
                    text-edge: cap
                    font-family: Actay Wide, sans-serif
                    font-size: 12px
                    font-style: normal
                    font-weight: 700
                    line-height: 100%
                    text-transform: uppercase 
                    white-space: nowrap
                    text-align: left
        .bottom
            display: flex
            .navigation
                display: flex
                justify-content: space-between
                width: 100%
                margin-right: 55px
                .link
                    padding: 22px 0
                    text-align: center
                    text-transform: uppercase
                    font-size: 14px
                    font-style: normal
                    font-weight: 500
                    line-height: 140%
                    letter-spacing: 1.4px
                    text-transform: uppercase 
                    &:hover
                        span
                            color: var(--purple-color)
                            &::after
                                opacity: 1
                    span
                        transition: var(--trs-300)
                        position: relative
                        &::after
                            transition: var(--trs-300)
                            content: ''
                            width: 100%
                            position: absolute
                            bottom: 0
                            height: 2px
                            background: var(--purple-color)
                            left: 0
                            bottom: -23px
                            opacity: 0
            .estimationBtn
                white-space: nowrap
                width: 238px
                min-width: 238px
                max-width: 238px
                border-radius: 0px
                font-family: Actay Wide
                font-size: 13px
                font-style: normal
                font-weight: 700
                line-height: 100%
                text-transform: uppercase 
                display: flex
                align-items: center
                justify-content: center
    .burger
        display: none
        @media(max-width: $desktop-md-2)
            display: block