.comparison
    padding-top: 151px
    padding-bottom: 100px
    .breadcrumbWrapper
        margin-bottom: 30px
    .top
        margin-bottom: 30px
    .btnWrapper
        margin-top: 30px
        display: flex
        justify-content: center
        .moreBtn
            height: 40px
            width: 366px
